footer {
    background: #666666;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
    border-top: 10px solid #4aaaa5;
    padding-top: auto;
    height: 50px;
    color: #ffffff;
    vertical-align: bottom;
}

.restDisplay {
    max-height: 150px;
    width: auto;
}

/* below is specifically for index.html to be changed later when styling is made uniform across pages */
#footer {
    color: white;
    /* inherits border from footer above - border-top: 10px solid #4aaaa5; */
  }

/* MODAL CSS, lione below puts the text Select City on same line as dropdown to select city */
select.form-control {
    display: inline-block;
  }

.form-check-input {
    align-content: center;
    margin: 0 auto;
}